­ƒöì Analizando productos para agrupar por variantes...

­ƒôè Se encontraron 3 grupos de productos con variantes

================================================================================
REPORTE DE AGRUPACI├ôN DE PRODUCTOS
================================================================================


1. Pastel de cumplea├▒os Amore Mio
   Producto principal (ID 81):  Pastel de cumplea├▒os Amore Mio Pollo
   Variantes encontradas: Ternera, Pollo, Carne, Pollo Verduras
   Productos a eliminar: 3
     - ID 31:  Pastel de cumplea├▒os Amore Mio Ternera
     - ID 82:  Pastel de cumplea├▒os Amore Mio Carne
     - ID 83:  Pastel de cumplea├▒os Amore Mio Pollo Verduras

2. Pastel de cumplea├▒os Fiesta
   Producto principal (ID 36):  Pastel de cumplea├▒os Fiesta Pollo
   Variantes encontradas: Pollo, Carne
   Productos a eliminar: 1
     - ID 87:  Pastel de cumplea├▒os Fiesta Carne

3. Pastel de cumplea├▒os Huella
   Producto principal (ID 37): Pastel de cumplea├▒os Huella Pollo Verduras
   Variantes encontradas: Pollo Verduras, Pollo, Carne
   Productos a eliminar: 2
     - ID 79: Pastel de cumplea├▒os Huella Pollo
     - ID 80: Pastel de cumplea├▒os Huella Carne


================================================================================
SQL PARA AGRUPAR PRODUCTOS
================================================================================

-- ============================================================================
-- Script de Migraci├│n: Agrupar Productos con Variantes
-- Fecha: 2025-11-21T21:35:54.054Z
-- 
-- Este script:
-- 1. Elimina variantes antiguas de la migraci├│n autom├ítica
-- 2. Crea variantes correctas para productos agrupados
-- 3. Elimina productos duplicados
-- 4. Actualiza nombres de productos principales
-- ============================================================================

BEGIN;

-- PASO 1: Eliminar variantes antiguas de la migraci├│n autom├ítica
-- Estas son variantes con nombre "400 gr" que se crearon autom├íticamente
DELETE FROM product_variants 
WHERE name = '400 gr' 
  AND created_at::date = '2025-11-21'
  AND product_id IN (31, 81, 82, 83, 36, 87, 37, 79, 80);



-- ============================================================================
-- GRUPO 1: Pastel de cumplea├▒os Amore Mio
-- Producto principal: ID 81
-- Variantes: Ternera, Pollo, Carne, Pollo Verduras
-- ============================================================================


-- Actualizar producto principal: Pastel de cumplea├▒os Amore Mio
UPDATE products 
SET 
  name = 'Pastel de cumplea├▒os Amore Mio',
  product_type = 'variable',
  updated_at = NOW()
WHERE id = 81;

-- Variante: Ternera
INSERT INTO product_variants (
  product_id,
  sku,
  name,
  price,
  stock,
  image_url,
  display_order,
  is_active,
  track_inventory,
  attributes
) VALUES (
  81,
  'pastel-de-cumpleanos-amore-mio-1-ternera',
  'Ternera',
  319.00,
  0,
  'https://res.cloudinary.com/dn7unepxa/image/upload/v1749168981/products/mmh6tsvghyfryya6gnun.webp',
  1,
  true,
  true,
  '{"ingredient": "Ternera"}'::jsonb
);

-- Variante: Pollo
INSERT INTO product_variants (
  product_id,
  sku,
  name,
  price,
  stock,
  image_url,
  display_order,
  is_active,
  track_inventory,
  attributes
) VALUES (
  81,
  'pastel-de-cumpleanos-amore-mio-carne-1-pollo',
  'Pollo',
  319.00,
  20,
  'https://res.cloudinary.com/dn7unepxa/image/upload/v1749168981/products/mmh6tsvghyfryya6gnun.webp',
  2,
  true,
  true,
  '{"ingredient": "Pollo"}'::jsonb
);

-- Variante: Carne
INSERT INTO product_variants (
  product_id,
  sku,
  name,
  price,
  stock,
  image_url,
  display_order,
  is_active,
  track_inventory,
  attributes
) VALUES (
  81,
  'pastel-de-cumpleanos-amore-mio-carne-2-carne',
  'Carne',
  319.00,
  0,
  'https://res.cloudinary.com/dn7unepxa/image/upload/v1749168981/products/mmh6tsvghyfryya6gnun.webp',
  3,
  true,
  true,
  '{"ingredient": "Carne"}'::jsonb
);

-- Variante: Pollo Verduras

-- Eliminar productos duplicados (se mantiene el ID 81)
DELETE FROM products WHERE id IN (31, 82, 83);

-- ============================================================================
-- GRUPO 2: Pastel de cumplea├▒os Fiesta
-- Producto principal: ID 36
-- Variantes: Pollo, Carne
-- ============================================================================


-- Actualizar producto principal: Pastel de cumplea├▒os Fiesta
UPDATE products 
SET 
  name = 'Pastel de cumplea├▒os Fiesta',
  product_type = 'variable',
  updated_at = NOW()
WHERE id = 36;

-- Variante: Pollo

-- Variante: Carne

-- Eliminar productos duplicados (se mantiene el ID 36)
DELETE FROM products WHERE id IN (87);

-- ============================================================================
-- GRUPO 3: Pastel de cumplea├▒os Huella
-- Producto principal: ID 37
-- Variantes: Pollo Verduras, Pollo, Carne
-- ============================================================================


-- Actualizar producto principal: Pastel de cumplea├▒os Huella
UPDATE products 
SET 
  name = 'Pastel de cumplea├▒os Huella',
  product_type = 'variable',
  updated_at = NOW()
WHERE id = 37;

-- Variante: Pollo Verduras

-- Variante: Pollo

-- Variante: Carne

-- Eliminar productos duplicados (se mantiene el ID 37)
DELETE FROM products WHERE id IN (79, 80);

-- ============================================================================
-- VERIFICACI├ôN FINAL
-- ============================================================================

-- Ver productos agrupados
SELECT 
  p.id,
  p.name,
  p.product_type,
  COUNT(pv.id) as variant_count
FROM products p
LEFT JOIN product_variants pv ON pv.product_id = p.id
WHERE p.id IN (81, 36, 37)
GROUP BY p.id, p.name, p.product_type
ORDER BY p.id;

-- Ver variantes creadas
SELECT 
  pv.id,
  pv.product_id,
  p.name as product_name,
  pv.name as variant_name,
  pv.price,
  pv.stock,
  pv.display_order
FROM product_variants pv
JOIN products p ON p.id = pv.product_id
WHERE pv.product_id IN (81, 36, 37)
ORDER BY pv.product_id, pv.display_order;

COMMIT;

-- Si algo sali├│ mal, ejecuta: ROLLBACK;


================================================================================
RESUMEN
================================================================================
Grupos encontrados: 3
Productos a eliminar: 6
Variantes a crear: 9
Productos principales: 3

ÔÜá´©Å  IMPORTANTE:
1. Revisa el SQL generado antes de ejecutarlo
2. Haz un backup de la base de datos
3. Ejecuta el SQL en una transacci├│n (BEGIN/COMMIT)
4. Verifica los resultados con las consultas de verificaci├│n
5. Si algo sale mal, ejecuta ROLLBACK
================================================================================
